@tailwind base;
@tailwind components;

@layer components {
  * {
    transition: all 0.25s ease;
    font-family: 'poppins', sans-serif;
  }
  *:focus {
    outline: none;
  }
  .btn {
    @apply bg-blue-600 px-2 py-1 text-white text-lg rounded-md hover:bg-blue-800
  }
}


@tailwind utilities;